/*Variables base para el proyecto*/
:root {
    --background-color: #a0a0a0;
    --text-input: #e9e9e9;
    --hospital-green1: #4083db;
    --hospital-green2: #356cb4;
    --white-color: #ffffff;
    --black-color: #000000;
    --sm: 16px;
    --md: 19px;
    --lg: 22px;
  }
  
  /*Tipo de letra de todo el proyecto*/
  body {
    font-family: "Quicksand", sans-serif;
  }
  
  /*Seteo los valores por defecto de estilo del navegador*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Centrar*/
  .my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
} 

/*Contenido my order*/
.my-order-content {
    display: flex;
    flex-direction: column;
}

/*Diseño de la orden: Fecha, artículos total*/
.order {
  /*Grid para alinear*/
    display: grid;
    grid-template-columns: auto 1fr;
    /*Gap para espaciado*/
    gap: 16px;
    /*Centramos el contenido*/
    align-items: center;
    /*Color de fondo del contenedor*/
    background-color: var(--text-input);
    /*Márgen para separar del primer artículo*/
    margin-bottom: 24px;
    /*Bordes redondeados al contenedor*/
    border-radius: 8px;
    /*Espaciado interno. Primero Y y segundo X*/
    padding: 10px 24px;
}

/*Display para separar la fecha con la cantidad de artículos*/
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

/*Esto es para poner al final el precio total a pagar y texto negrita*/
.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

/*Esto es para ponerle negrita y cambiar el tamaño a la fecha*/
.order p span:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

/*Esto es para cambiar el color y el tamaño de letra del total de artículos*/
.order p span:nth-child(2) {
    font-size: 12px;
    color: var(--background-color);
}

/*Estilo título. Tamaño fuente y márgen*/
.title {
    font-size: var(--lg);
    margin-bottom: 40px;
}

/*Hacemos uso de Grid para separar la imagen y el texto, junto al valor del artículo*/
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}


/*Estilos para que la imagen se acomode corrctamente*/
.shopping-cart figure img {
    /*Ancho*/
    width: 100px;
    /*Alto*/
    height: 100px;
    /*Bordeado*/
    border-radius: 20px;
    /*Cover para que la imagen no se deforme*/
    object-fit: cover;
}

/*Cambiamos el color al nombre del artículo*/
.shopping-cart p:nth-child(2) {
    color: var(--background-color);
}

/*Cambiamos el tamaño del valor del artículos y su negrita*/
.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}