/*Variables base para el proyecto*/
:root {
    --background-color: #a0a0a0;
    --text-input: #e9e9e9;
    --hospital-green1: #4083db;
    --hospital-green2: #356cb4;
    --white-color: #ffffff;
    --black-color: #000000;
    --sm: 16px;
    --md: 19px;
    --lg: 22px;
  }
  
  /*Tipo de letra de todo el proyecto*/
  body {
    font-family: "Quicksand", sans-serif;
  }

  /*Estilos por defecto del navegador*/
  *
  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    
  /*Desaparecemos el ícono de hamburguesa para desktop*/
  .menu
  {
    display: none;
  }

  /*Cambiamos el tamaño del logo*/
  .logo
  {
    width: 100px;
  }

/*Estilos de la lista desordenada izquierda y derecha*/
  .navbar-left ul,
  .navbar-right ul
  {
    /*Quitamos el punto*/
    list-style: none;
    /*Ponemos un margen superior*/
    margin-top:24px;
    /*Display flex y align items para poner todo en una misma línea*/
    display: flex;
    align-items: center;
    /*Padding*/
    padding:0;
    /*Margen*/
    margin:0;
    /*Para alinear el carrito de compras*/
    height: 60px;
  }

  /*De esta manera ponemos en la misma línea el logo Yard Sale*/
  .navbar-left
  {
    display: flex;
  }

  /*Separar logo de la lista*/
  .navbar-left ul
  {
    margin-left: 10px;
  }

  /*Estilo de texto de los items de la lista*/
  .navbar-left ul li a,
  .navbar-right ul li a
  {
    /*Quitamos la linea decorativa del a*/
    text-decoration: none;
    /*Cambiamos el color de texto*/
    color:var(--background-color);
    /*Estilo del borde*/
    border:1px solid var(--white-color);
    /*Padding de 8px para separar texto del borde*/
    padding:8px;
    /*Se dan border redondeados*/
    border-radius: 8px;
  }

  /*Estilo de texto de los items de la lista al pasar el cursor encima*/
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover
  {
    /*Color del borde*/
    border:1px solid var(--hospital-green1);
    color:var(--hospital-green1);
  }
  
  /*Nav incicial para separar izquierda y derecha*/
  nav
  {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    /*Linea separadora*/
    border-bottom: 1px solid var(--background-color);
  }

  /*Estilo del correo electrónico*/
  .navbar-email
  {
    /*Cambio de color*/
    color:var(--background-color);
    /*Cambio de tamaño de fuente*/
    font-size: 0.8rem;
    /*Separamos el email del carrito de compras*/
    margin-right: 16px;
  }

  /*Estilo del carrito de compras*/
  .navbar-shopping-cart
  {
    /*Relativo para poder posicionar encima de este otros elementos, como lo será la bolita*/
    position:relative;
  }

  /*Estilo de la bolita del carrito de compras*/
  .navbar-shopping-cart div
  {
    /*Alto y ancho del punto. Es el tamaño*/
    width:16px;
    height:16px;
    /*Color de fondo*/
    background-color: var(--hospital-green1);
    /*Borde redondeado*/
    border-radius:50%;
    /*Tamaño de letra*/
    font-size: 0.8rem;
    /*Negrita*/
    font-weight: bold;
    /*Posición absoluta para poder manipularlo como queramos*/
    position:absolute;
    /*Posición hacia arriba*/
    top:-6px;
    /*Posición hacia la derecha*/
    right: -3px;
    /*Esto es para centrar el número en la bolita*/
    display: flex;
    /*Centrado en el eje X*/
    justify-content: center;
    /*Centrado en el eje Y*/
    align-items: center;
  }

  /*Media Query para cuando pasemos a mobile*/
  @media (max-width:640px)
  {
    /*Con esto hacemos aparecer el menú hamburguesa*/
    .menu
    {
      display: block;
    }

    /*Desaparecemos toda la lista izquierda*/
    .navbar-left ul
    {
      display: none;
    }

    /*Desaparecemos el email*/
    .navbar-email
    {
      display: none;
    }
  }