/*----------------------------ESTILOS INICIALES----------------------*/
/*Establezco variables*/
:root
{
    --background-color: white;
    --button-color: white;
    --text-nav-button-color:black;
    --footer-color:#292929;
}

/*Seteamos los valores por defecto en el body*/
body
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /*Equivalente a 13px*/
    font-size: 0.8125rem;
    /*Tipo de letra por defecto del navegador*/
    font-family: Arial, Helvetica, sans-serif;
    /*Color de fondo de TODA la página*/
    background-color: var(--background-color);
}



/*----------------------------ESTILOS NAVBAR----------------------*/
/*Estilo para la etiqueta header*/
header
{
    /*Esto es para que ocupe el 100 del ancho de la pantalla*/
    width:100%;
    /*Establecemos una altura de 60px*/
    height: 3.75rem;
}

/*Esto es para poder mandar los elementos de la lista a la parte derecha*/
header nav
{
    display: flex;
    justify-content: end;
}

/*Estilos del contenedor UL de la lista*/
header nav .nav-right-section
{
    /*Ancho de 250px*/
    width: 15.625rem;
    /*Altura exacta de la de Google. 36px*/
    height: 2.25rem;
    /*Display flex para alinear los items */
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center ;
}

/*Estilos de la etiqueta a HEADER*/
nav .nav-right-section a
{
    /*Margen a la derecha de 16px. Esto es para separar cada uno de los diferentes a*/
    margin-right: 1rem;
    /*Se establcece el color del texto*/
    color:var(--text-nav-button-color);
}

/*A absolutamente todas las etiquetas le quitamos la línea*/
a
{
    /*Elimina la línea decoradora*/
    text-decoration: none;
    /*Para que al pasar el mouse por encima, se ponga la manito.*/
    cursor:pointer;
}

/*Esto es para que al momento de pasar el cursor por encima, se aplique la línea decorativa, justo como lo tiene Google*/
a:hover
{
    text-decoration: underline;
}

/*Estilo para el ícono del Navbar
Es importante mencionar que si se cambia el color a DarkMode, el ícono
también deberá ser reemplazado, es decir, se tiene que buscar otra URL*/
nav .nav-right-section .menu-icon
{
    /*Cargamos la imagen*/
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    /*Quiero que la imagen quede en el centro*/
    background-position: center;
    /*Tamaño*/
    background-size: contain;
    /*A la imagen se le pone un ancho de 28px*/
    width: 1.75rem;
    /*A la imagen se le pone un alto de 28px*/
    height: 1.75rem;
    /*Para que al momento de pasar el cursor por encima, se cambie a una manito*/
    cursor: pointer;
    /*Separación con "Imágenes". Hacia la izquierda 10px*/
    margin-left: 0.625rem;
    /*Esto me ayuda para cambiarle un poco el color (Es la opacidad pero para este caso funciona)*/
    opacity: 57%;
}

/*Estilo para la foto de perfil del Navbar*/
nav .nav-right-section img
{
    /*Imagen redondeada*/
    border-radius: 50%;
    /*Separación hacia la izquierda del ícono de menú*/
    margin-left: 1.25rem;
}



/*----------------------------ESTILOS MAIN----------------------*/
/*Estilo al main*/
main
{
    /*Esto es para separar de la barra de navegación.*/
    margin-top: 9rem;
    /*Centramos todo el contenido*/
    text-align: center;
}

/******** SECCIÓN 1: Logo *********/
main .main-logo img
{
    /*Tamaño de la imagen. 435px*/
    width:27.1875rem;
    /*Margenes en Y y márgenes en X*/
    margin:0 auto;
    /*Esto es para dar margen inferior y separar de la barra de búsqueda*/
    margin-bottom: 40px;
}

/******** SECCIÓN 2: Barra de búsqueda *********/
main .main-input 
{
    /*Valor mágico para centrar la barra con el logo.528px*/
    width: 528px;
    /*Margenes para que se ajusten automáticamente en X*/
    margin: 0 auto;
    /*Esto es para separar un poco los la barra con los botones*/
    margin-bottom: 35px;
}

/*Estilos al contenedor*/
main .main-input-container 
{
    /*Mismo ancho que el main-input*/
    width: 528px;
    /*Bordes de 24px, como Google*/
    border-radius: 24px;
    /*Se pone una línea de borde, con un color*/
    border: 1px solid #dfe1e5;
    /*Esto es para centrar todo*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Efecto en la barra de búsqueda al momento de pasar el cursor por encima*/
main .main-input-container:hover 
{
    /*Este es el efecto para la sombra*/
    box-shadow: 0 1px 6px 0 #20212447;
    /*Otro color de borde, algo transparente*/
    border-color:#dfe1e500;
}

/*Estilos al campo de input*/
main .main-input input 
{
    /*Cambiamos el ancho. 450px*/
    width: 450px;
    /*Esto define el ancho de la barra*/
    height: 40px;
    /*Sin borde*/
    border: none;
    /*Sin outline para que no se ponga ningún color al seleccionar el campo*/
    outline: none;
}

/*Estilos al icono de búsqueda*/
main .main-input .search-icon
{
    /*Para importar el ícono de búsqueda*/
    background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
    /*Para que la imagen no se repita*/
    background-repeat: no-repeat;
    /*Posición*/
    background-position: center;
    /*Tamaño para que sea el mismo tamaño del contenedor*/
    background-size: contain;
    /*Ancho*/
    width:20px;
    /*Alto*/
    height: 20px;
    /*Le cambiamos la opacidad para ajustar un poco el color*/
    opacity: 38%;
    /*Lo separo un poco del indicador para escribir*/
    margin-right: 7px;
}

/*Estilos al ícono de voz*/
main .main-input .mic-icon
{
     /*Para importar el ícono de búsqueda*/
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png");
     /*Para que la imagen no se repita*/
     background-repeat: no-repeat;
     /*Posición*/
     background-position: center;
     /*Tamaño para que sea el mismo tamaño del contenedor*/
     background-size: contain;
     /*Ancho*/
     width:20px;
     /*Alto*/
     height: 20px;
     /*A diferencia del de búsquead, este si tiene manito porque sí realiza una acción*/
     cursor:pointer;
}

/*Estilo al texto al momento de estar buscando. Se modifica el tamaño de letra*/
main .main-input .main-input-text
{
    font-size: 1.1rem;
}

/******** SECCIÓN 3: Botones de búsqueda *********/
/*Estilo al contenedor principal */
main .main-buttons
{
    /*Display flex para posicionarlos en la misma línea*/
    display: flex;
    /*Los centro en X*/
    justify-content: center;
    /*Le doy un margen inferior de 20px para separarlo del texto de "Ofrecido por*/
    margin-bottom: 1.25rem;
}

/*Estilo de los botones*/
main .main-buttons button
{
    /*Añado un padding para dar un espaciado interno en los botones*/
    padding: 10px 14px;
    /*Establezco un tamaño de texto de botones de 15px*/
    font-size: 0.9375rem;
    /*Doy un margen en la izquierda y en la derecha para separar los botones*/
    margin: 0 8px 0 8px;
    /*Elimino los bordes por defecto*/
    border:none;
    /*Añado cursor pointer para indicar que se puede dar clic*/
    cursor:pointer;
    /*Bordeo un poquito los botones*/
    border-radius: 5%;
}

/*Estilo de los botones cuando el cursor se pasa por encima*/
main .main-buttons button:hover
{  
      /*Este es el efecto para la sombra*/
      box-shadow: 1px 1px 10px 1px #20212447;
}

/******** SECCIÓN 4: Texto "Ofrecido por Google en: English" *********/
/*Con esto centramos y alineamos el texto*/
main .main-final-text
{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Esto me ayuda para darle un espaciado al texto p y al hipervínculo a*/
main .main-final-text div
{
    margin: 0 2px 0 2px;
}



/*----------------------------ESTILOS FOOTER----------------------*/
