:root 
{
  --primary-color: #6D70F5;
  --light-color: #fff;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    font-family: 'Commissioner', sans-serif;
    scroll-behavior: smooth;
    background: white;
}

body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/*---------------------------ESTILOS HEADER----------------------*/
/*Estilos header generales*/
header {
    position:relative;
    display: flex;
    /*Alinear por columna*/
    flex-direction: column;
    justify-content: center;
    /*Ancho del 100% de la pantalla*/
    width: 100%;
    /*Tamaño mínimo*/
    min-width: 320px;
    /*Altura*/
    height: 290px;
    /*Centrar texto*/
    text-align: center;
    /*Color de fondo*/
    background: linear-gradient(232deg, #9496fc, var(--primary-color));
    /*Tamaño para que el efecto se aplique*/
    background-size: 400%400%;
    /*Estilos de animación*/
    -webkit-animation: bgAnimateBitcoin 5s ease infinite;
    -moz-animation: bgAnimateBitcoin 5s ease infinite;
    animation: bgAnimateBitcoin 5s ease infinite;
  }
  @-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0%50%}
    50%{background-position:100%50%}
    100%{background-position:0%50%}
  }
  @-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0%50%}
    50%{background-position:100%50%}
    100%{background-position:0%50%}
  }
  @keyframes bgAnimateBitcoin {
    0%{background-position:0%50%}
    50%{background-position:100%50%}
    100%{background-position:0%50%}
  }


/*Estilos del contenedor del texto*/
.header--title-container
{
  /*Ancho de 90%*/
  width:90%;
  /*No se hará más pequeño que esto*/
  min-width: 288px;
  /*No se hará más grande que esto*/
  max-width: 900px;
  /*Altura*/
  height: 280px; 
  /*Márgen superior para separarlo del logo*/
  margin-top: 40px;
  /*Centro del texto*/
  text-align: center;
  /*Centro del contenedor para que ocupe lo mismo en ambos lados de X*/
  align-self: center;
}

/*Estilo del título Figuras Geométricas <h1>*/
.header--title-container h1
{
  /*Tamaño de fuente*/
  font-size: 5rem;
  /*Color del texto*/
  color: var(--light-color);
  /*Tamañi en negrita*/
  font-weight:700;
  /*Interlineado del título*/
  line-height: 2.5rem;
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 0.88em;
  outline:none;
  letter-spacing: 1.6Px;
  animation: animate 8s linear infinite;
 -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0, 0, 0, 0.089));
}
.header--title-container p
{
  font-size: 2rem;
  margin-top: 10px;
  font-weight: 300;
  line-height: 2.3rem;
  color: papayawhip;
}

/*---------------------------ESTILOS SECCIÓN DE INFORMACIÓN GENERAL----------------------*/
/*Seleccionar opción adecuada*/
#triangulo,#circulo
{
    display:none;
}

/*Estilos main*/
main
{
  width:100%;
  /*Auto porque el mismo contenido va a ir definiendo la altura*/
  height: auto;
  /*Color de fondo*/
  background: white;
}

.main-everything
{
    position: relative;
    width: 100%;
    height: (calc(100vh-280px-320px));
    /*Padding para generar espacio y no tener problema con las tarjetas*/
    padding:20px 10px;
    align-self: center;
    justify-content: center;
    background: white;
}

.main-section--options
{
    /*Ancho de 90%*/
  width:100%;
  /*Altura*/
  /*height: 280px;*/ 
  /*Márgen superior para separarlo del logo*/
  margin-top: 20px;
  /*Centro del texto*/
  text-align: center;
  /*Centro del contenedor para que ocupe lo mismo en ambos lados de X*/
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geometria-logo
{
  /*Estilos del logo*/
  background-image:url('/assets/icons/geometric-figure.png');
  background-repeat: no-repeat;
  background-size: contain;
  /*Esto para poder posicionarlo sobre el borde*/
  position: absolute;
  /*Esto es para centrar el botón. Inicia en 50% y se le resta la mitad del width(245/2)*/
  left: calc(50% - 25px);
  /*Altura del botón*/
  top: -30px;
  display: block;
  width: 50px;
  height:50px;
}

.select-figure
{
    font-weight: 600;
    font-size: 2.6rem;
    color:#5558bd;
    text-align: center;
}

.botones-figuras
{ 
    width:80%;
    min-width: 288px;
    max-width: 400px;
    margin-top: 20px;
    padding:20px;
    justify-content: center;
    font-size: 1.7rem;
    border-style: none;
    border-radius: 100px;
    cursor:pointer;
    border:4px solid var(--primary-color);
    color:rgb(99, 99, 99);
    overflow: hidden;
    transition: 0.3s;
    letter-spacing: 0.5rem;
    display: block;
}
.botones-figuras.cuadrado:hover
{ 
    border:4px solid white;
    color:#5791a7;
    background:#A6E7FF;
    box-shadow: 0 0 10px #6AB2CC, 0 0 30px #6AB2CC, 0 0 50px #6AB2CC;
    font-weight: bold;
}
.botones-figuras.triangulo:hover
{ 
    border:4px solid white;
    color:#7c3333;
    background:#fd8282;
    box-shadow: 0 0 10px #df5858, 0 0 30px #df5858, 0 0 50px #df5858;
    font-weight: bold;
}
.botones-figuras.circulo:hover
{ 
    border:4px solid white;
    color:#8b691e;
    background:#FFD782;
    box-shadow: 0 0 10px #ffcd60, 0 0 30px #ffcd60, 0 0 50px #ffcd60;
    font-weight: bold;
}

.main-section--figures
{
  width:100%;
  /*Altura*/
  /*height: 280px;*/ 
  /*Márgen superior para separarlo del logo*/
  margin-top: 30px;
  /*Centro del texto*/
  text-align: center;
  /*Centro del contenedor para que ocupe lo mismo en ambos lados de X*/
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figuras
{
    margin-top:-30px;
    width: 85%;
    height: 85%;
}

.figura-titulo
{
    font-weight: bold;
    font-size: 2.6rem;
    color:#5558bd;
}

.main-section--figures .txt_field
{
   /*Ancho de 90%*/
   width:100%;
   /*Altura*/
   /*height: 280px;*/ 
   /*Márgen superior para separarlo del logo*/
   margin-top: -30px;
   /*Centro del texto*/
   text-align: center;
   /*Centro del contenedor para que ocupe lo mismo en ambos lados de X*/
   align-self: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.txt_field--label
{
  font-size: 1.8rem;
  margin-bottom: 20px;
  color:#5558bd;
}


.txt_field--input
{
  padding:5px;
  margin-bottom: 15px;
  display: flex;
  color:#5791a7;
  font-weight: bold;
  font-size: 1.9rem;
  border-style: none;
  justify-content: center;
  outline: none;
  text-align: center;
  width: 40%;
  border:1px solid #5558bd5e;
  border-radius: 10px;
}

.txt_field--input.triangulo
{
  color:#7c3333;
}
.txt_field--input.circulo
{
  color:#ffbf34;
}

.buttons-figura-container
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-figura
{
  padding:10px 0 10px 0;
  width: 40%;
  align-self: center;
  text-align: center;
  margin:10px 10px;
  border:none;
  border-radius:20px;
  cursor: pointer;
  font-size: 1.7rem;
  overflow: hidden;
  transition: 0.3s;
  border:1px solid #8181813d;
}

.button-figura:hover
{
  color:#5791a7;
  background:#A6E7FF;
  box-shadow: 0 0 10px #6AB2CC, 0 0 30px #6AB2CC, 0 0 50px #6AB2CC;
  font-weight: bold;
}
.button-figura.triangulo:hover
{
  color:#7c3333;
  background:#fd8282;
  box-shadow: 0 0 10px #df5858, 0 0 30px #df5858, 0 0 50px #df5858;
  font-weight: bold;
}
.button-figura.circulo:hover
{
  color:#8b691e;
  background:#FFD782;
  box-shadow: 0 0 10px #ffcd60, 0 0 30px #ffcd60, 0 0 50px #ffcd60;
  font-weight: bold;
}

.result
{
  margin-top: 30px;
  font-size: 1.9rem;
  color:var(--primary-color);
  font-weight: 700;
}

/*------------------------------------ESTILOS FOOTER----------------------------------*/
/*En este estilo separamos las redes sociales del logo*/
footer
{
  display: flex;
  width: 100%;
  height:110px;
  background: var(--primary-color);
  background: linear-gradient(55deg, var(--primary-color) 22%, #5558bd 69%, #4c4fab 100%);
  min-width: 320px;
  margin-top: auto;
}

/*Mismos tamaños para ambos section*/
footer section
{
  display: flex;
  width:50%;
  justify-content: center;
  align-items: center;
}

/*Estilos para que las redes sociales salgan alineados*/
.unorganized-media
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.unorganized-media li
{
  list-style: none;
}

.unorganized-media img
{
  width: 40px;
  height: 40px;
  margin: 8px;
}

.logo-footer
{
  width: 85px;
  height: 85px;
}
