/*Variables base para el proyecto*/
:root
{
    --background-color: #a0a0a0;
    --text-input:#e9e9e9;
    --hospital-green1:#4083db;
    --hospital-green2:#356cb4;
    --white-color:#ffffff;
    --black-color:#000000;
    --sm: 16px;
    --md: 19px;
    --lg: 22px;
}

/*Tipo de letra de todo el proyecto*/
body
{
    font-family: 'Quicksand', sans-serif;
}

/*Seteo los valores por defecto de estilo del navegador*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}