/*
Agregando estilos:
    1. Posicionamiento --> static, absolute, relative, fixed
    2. Modelo de caja (Box model) --> margin, border, padding, content
    3. Tipografía --> tipos, tamaños de fuente, etc
    4. Estilos visuales --> box-shadow, border-radius, gradient, etc
    5. Otros --> reglas CSS y más
*/
/*------------------------------ESTILOS GENERALES------------------------*/
/*Variables que voy a usar en varias partes del código*/
:root 
{
  --primary-color: #f7931a;
  --primary-color-soft: #ffe9d5;
  --secondary-color: #1a9af7;
  --secondary-color-soft: #e7f5ff;
  --warm-color: #282623;
  --warm2-color: #201e1c;
  --light-color-darker: #bababa;
  --background-color: #faf8f7;
  --light-color: #fff;
  --basic-plan-color: rgb(68, 79, 109);
  --semestral-plan-color: #5c5b59;
}

/*Reinicio de estilos para tener  100% de control*/
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos para poder trabajar con medidas REM*/
html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /*Scroll suave al dar clic en "Conoce Nuestros Planes"*/
    scroll-behavior: smooth;

}

/*------------------------------ESTILOS HEADER------------------------*/
header {
  display: flex;
  /*Alinear por columna*/
  flex-direction: column;
  justify-content: center;
  /*Ancho del 100% de la pantalla*/
  width: 100%;
  /*Tamaño mínimo*/
  min-width: 320px;
  /*Altura*/
  height: 334px;
  /*Centrar texto*/
  text-align: center;
  /*Color de fondo*/
  background: linear-gradient(232deg, var(--warm2-color), var(--primary-color));
  /*Tamaño para que el efecto se aplique*/
  background-size: 400%400%;
  /*Estilos de animación*/
  -webkit-animation: bgAnimateBitcoin 20s ease infinite;
  -moz-animation: bgAnimateBitcoin 20s ease infinite;
  animation: bgAnimateBitcoin 20s ease infinite;
}
@-webkit-keyframes bgAnimateBitcoin {
  0%{background-position:0%50%}
  50%{background-position:100%50%}
  100%{background-position:0%50%}
}
@-moz-keyframes bgAnimateBitcoin {
  0%{background-position:0%50%}
  50%{background-position:100%50%}
  100%{background-position:0%50%}
}
@keyframes bgAnimateBitcoin {
  0%{background-position:0%50%}
  50%{background-position:100%50%}
  100%{background-position:0%50%}
}

/*Usando especificidad para el diseño de la imagen(logo)*/
header img
{
  width:150px;
  height: 24px;
  /*Lo separamos del borde superior*/
  margin-top: 60px;
  /*Al hacer uso de flex, esta es la forma de centrar un elemento que tenga un contenedor padre con este display*/
  align-self: center;
}

.header--title-container
{
  /*Ancho de 90%*/
  width:90%;
  /*No se hará más pequeño que esto*/
  min-width: 288px;
  /*No se hará más grande que esto*/
  max-width: 900px;
  /*Altura*/
  height: 218px;
  /*Márgen superior para separarlo del logo*/
  margin-top: 40px;
  /*Centro del texto*/
  text-align: center;
  /*Centro del contenedor para que ocupe lo mismo en ambos lados de X*/
  align-self: center;
}

/*Estilo del título <h1>*/
.header--title-container h1
{
  /*Tamaño de fuente de 26px*/
  font-size: 2.6rem;
  /*Color del texto*/
  color: var(--light-color);
  /*Tamañi en negrita*/
  font-weight: bold;
  /*Interlineado del título*/
  line-height: 2.8rem;
}

/*Estilo del párrafo <p>*/
.header--title-container p
{
  font-size: 1.6rem;
  margin-top: 25px;
  font-weight: 300;
  line-height: 1.8rem;
  color: var(--primary-color-soft);
}

/*Estilos del botón*/
.header--title-container .header--button
{
  /*Junto al contenedor padre (header) que es relative, podemos posicionarlo encima*/
  position: absolute;
  /*Cuando estamos en absolute podemos usar top, bottom, left y right*/
  /*Esto es para centrar el botón. Inicia en 50% y se le resta la mitad del width(229/2)*/
  left: calc(50% - 118px);
  /*Altura del botón*/
  top: 272px;
  /*Separamos el botón del párrafo*/
  margin-top: 35px;
  display: block;
  /*Espaciado interno entre el botón y el texto*/
  padding:15px;
  width: 229px;
  height:48px;
  /*Color de fondo del botón*/
  background-color: var(--background-color);
  /*Sombra*/
  box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
  /*En caso de que exista un borde definido*/
  border:none;
  /*Redondeo de los bordes*/
  border-radius: 5px;
  /*Tamaño de fuente*/
  font-size: 1.4rem;
  /*Peso de fuente*/
  font-weight: bold;
  /*Quitamos la decoración del texto*/
  text-decoration: none;
  /*Color de la letra*/
  color:var(--warm2-color);
}

/*Icono del botón*/
.header--button span
{
  display: inline-block;
  width: 13px;
  height:8px;
  /*Separamos la flecha del texto*/
  margin-left:10px;
  /*Llamamos el icono de la flecha*/
  background-image: url('./assets/icons/down-arrow.svg');
}


/*---------------------------ESTILOS SECCIÓN DE INTERCAMBIOS----------------------*/
/*Estilos del main*/
main
{
  width:100%;
  min-width: 320px;
  /*Auto porque el mismo contenido va a ir definiendo la altura*/
  height:auto;
  /*Color de fondo*/
  background-color:var(--light-color);
}

.main-exchange-container
{
  width:100%;
  /*Auto porque el mismo contenido va a ir definiendo la altura*/
  height:auto;
  padding-top:80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container--title
{
  width:90%;
  min-width: 288px;
  max-width: 900px;
  margin:0 auto;
}

/*Imagen de fondo*/
.main-exchange-container .backgroundImg
{
  /*Establecemos el tamaño de la imagen que es 200x200*/
  width:200px; 
  height: 200px;
  margin:0 auto;
  /*Separar imagen del texto*/
  margin-bottom: 50px;
  /*Cargamos la imagen*/
  background-image: url(./assets/img/Bitcoin.svg);
  /*Establecemos el tamaño completo de la imagen*/
  background-size: cover;
  /*Para que siempre esté centrado*/
  background-position: center;
  /*Para que no se repita*/
  background-repeat: no-repeat;
}

/*Estilo del título <h2>*/
.main-exchange-container--title h2
{
  /*Tamaño de fuente de 26px*/
  font-size: 2.6rem;
  /*Color del texto*/
  color: var(--warm2-color);
  /*Tamañi en negrita*/
  font-weight: bold;
  /*Interlineado del título*/
  line-height: 2.8rem;
}

/*Estilo del párrafo p*/
.main-exchange-container--title p
{
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
  scroll-snap-align: center;
}

/*Contenedor general padre de Monedas*/
.main-currency-table, .main-commission-table
{
  /*La tabla no ocupa el 100%*/
  width:70%;
  min-width: 235px;
  max-width: 500px;
  height:360px;
  /*De arriba a abajo no agrega marge, y en X lo calcula*/
  margin: 0 30px;
  font-family: "Inter",sans-serif;
  scroll-snap-align: center;
}



/*Modificamos el título*/
.main-currency-table .currency-table--title, .main-commission-table .commission-table--title
{
  /*Separar título de la tabla*/
  margin-bottom: 15px;
  font-size: 1.8rem;
  color:var(--primary-color);
  font-weight: bold;
  margin-top: 30px;
  line-height: 2.3rem;
}

.main-commission-table .commission-table--title
{
  color: var(--secondary-color);
}

/*Estilos del contenedor de la tabla*/
.currency-table--container, .commission-table--container
{
  width:90%;
  min-width: 230px;
  max-width: 300px;
  height:250px;
  margin:0 auto;
  box-shadow: 0 4px 8px rgba(89,73,30,0.16);
  border-radius: 20px;
  scroll-snap-align: center;
}

/*Estilo de la tabla como tal para que ocupe el 100% del tamaño de su contenedor padre (estilo anterior)*/
.currency-table--container table, .commission-table--container table
{
  width:100%;
  height:100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}

.currency-table--container td, .commission-table--container td
{
  width:50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color:var(--light-color-darker);
  background-color:var(--light-color);
}

/*Bordes de la tabla
/*Borde superior izquierdo*/
.currency-table--container .table__top-left, .commission-table--container .table__top-left
{
  border-radius:15px 0 0 0;
}
/*Borde superior derecho*/
.currency-table--container .table__top-right, .commission-table--container .table__top-right
{
  border-radius:0 15 0 0;
}
/*Borde inferior derecho*/
.currency-table--container .table__bottom-right, .commission-table--container .table__bottom-right
{
  border-radius:0 0 15px 0;
}
/*Borde inferior izquierdo*/
.currency-table--container .table__bottom-left, .commission-table--container .table__bottom-left
{
  border-radius:0 0 0 15px;
}

/*Estilo al texto derecho*/
.currency-table--container .table__right, .commission-table--container .table__right
{
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575; 
}

/*Flecha abajo*/
.currency-table--container .down
{
  display: inline-block;
  width:15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Flecha arriba*/
.currency-table--container .up
{
  display: inline-block;
  width:15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*Estilos del botón*/
.currency-table--date, .commission-table--date
{
  width: 190px;
  height: 31px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--primary-color-soft);
  border-radius: 8px;
}

.commission-table--date
{
  background-color: var(--secondary-color-soft);
}

.currency-table--date p, .commission-table--date p
{
  font-size: 1.2 rem;
  line-height: 1.5 rem;
  color:var(--warm-color);
}

/*---------------------------ESTILOS SECCIÓN DE BENEFICIOS----------------------*/
/*Estilo general del contenedor de beneficios*/
.main-product-detail
{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color:var(--warm2-color);
  /*Padding para generar espacio y no tener problema con las tarjetas*/
  padding:20px 10px;
}

/*Estilo del logo separador de batata*/
.product-detail-batata-logo
{
  /*Esto para poder posicionarlo sobre el borde*/
  position: absolute;
  /*Width y height para que aparezca*/
  width:40px;
  height: 25px;
  /*Con esto lo centramos*/
  top: -10px; /*Arriba*/
	left: calc(50% - 20px); /*Izquierda*/
  /*Importamos el ícono*/
  background-image:url('./assets/icons/batata.svg')
}

/*Estilo general contenedor de texto <h2> y <p>*/
.product-details--title
{
  width:90%;
  min-width: 288px;
  height: auto;
  margin:0 auto;
  margin-top: 50px;
}

/*Estilo de título principal*/
.product-details--title h2
{
  color:var(--light-color);
  font-size: 2.6rem;
  margin-bottom: 25px;
  font-weight: bold;
  line-height: 2.6rem;
  text-align: center;

}

/*Estílo de párrafo principal*/
.product-details--title p
{
  color:#808080;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 25;
  line-height: 1.8rem;
}

/*Estilos de la tarjeta*/
.product-detail--card
{
  /*Ancho de la tarjeta*/
  width:90%;
  min-width: 288px;
  max-width: 400px;
  /*Alto de la tarjeta*/
  height: fit-content;
  /*Margen para centrar*/
  margin: 15px auto;
  /*Padding para dar espaciado interno*/
  padding: 15px;
  /*Color de fondo de la tarjeta*/
  background-color: var(--warm-color);
  /*Bordes de la tarjeta*/
  border-radius: 5px;
  /*Efecto de sombra*/
  box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

/*Estilos para los iconos de la tarjeta*/
.product-detail--card  .product-detail-icon
{
  display:inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

/*Icono clock*/
.product-detail--card .clock
{
  background-image: url(./assets/icons/clock.svg);
}

/*Icono eye*/
.product-detail--card .eye
{
  background-image: url(./assets/icons/eye.svg);
}

/*Icono dollar/sign*/
.product-detail--card .dollar-sign
{
  background-image: url(./assets/icons/dollar-sign.svg);
}

/*Icono check/circle*/
.product-detail--card .check-circle
{
  background-image: url(./assets/icons/check-circle.svg);
}

/*Título de la tarjeta*/
.product--card-title
{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color:var(--light-color);
}

/*Texto de la tarjeta*/
.product--card-body
{
  color:#808080;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

/*------------------------------ESTILOS SECCIÓN COMODÍN------------------------*/
/*Estilo de la imagen*/
.bitcoin-img-container
{
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image:url("./assets/img/bitcoinbaby4x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Estilo del texto*/
.bitcoin-img-container h2
{
  padding-top: 60px;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 2.6rem;
  color:var(--light-color);
}

/*------------------------------ESTILOS SECCIÓN PLANES------------------------*/
/*Estilos del contenedor padre*/
.main-plans-container
{
  width: 100%;
  min-width: 320px;
  /*padding-bottom: 30px;*/
  text-align: center;
  background-color: var(--background-color);
}

/*Estilos de la sección del texto*/
.plans--title
{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin:0 auto;
  margin-bottom: 50px;
}

/*Estilos al título <h2>*/
.plans--title h2
{
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color:var(--warm2-color);
}

/*Estilos al párrafo <p>*/
.plans--title p
{
  padding-top: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  color:#757575;
}

/*Estilos de la tarjeta*/
.plans-container--card
{
  position: relative;
  /*Sirve para el scroll horizontal*/
  scroll-snap-align: center;
  width:70%;
  min-width: 210px;
  max-width: 300px;
  height: 250px;
  margin:50px 10px 0;
  padding:0 15px;
  background-color: var(--light-color);
  border-radius: 15px;
  justify-items: center;
}

/*Bordes Plan Básico*/
.basico-container
{
  box-shadow: 0 4px 8px var(--basic-plan-color);
}
/*Bordes Plan Anual*/
.anual-container
{
  box-shadow: 0 4px 8px var(--primary-color);
  z-index: 3;
}
/*Bordes Plan Semestral*/
.semestral-container
{
  box-shadow: 0 4px 8px var(--semestral-plan-color);
}

/*Estilos de texto recomendado*/
.plans-container--card .recommended
{
  /*Position absolute para el posicionamiento*/
  position: absolute;
  /*Anchi*/
  width: 110px;
  /*Alto*/
  height:31px;
  /*Color de fondo*/
  background-color: var(--primary-color);
  /*Color de texto*/
  color:var(--light-color);
  /*Tamaño de fuente*/
  font-size: 1.4rem;
  /*Espaciado interno para centrar el texto*/
  padding: 8px;
  /*Borde redondeado*/
  border-radius: 8px;
  /*Centrar en X. 120/60*/
  left: calc(50% - 55px);
  /*Posición en Y*/
  top: -20px;
}

/*Título del plan*/
.plan-card--title
{
  padding-top: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5rem;
}
/*Texto plan básico*/
.basico-texto
{
  color:var(--basic-plan-color);
}
/*Texto plan anual*/
.anual-texto
{
  color:var(--primary-color);
}
/*Texto plan semestral*/
.semestral-texto
{
  color:var(--semestral-plan-color);
}

/*Precio del plan*/
.plan-info-container .plan-card--price {
  position: relative;
  padding: 3px 0;
  font-size: 5.2rem;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}

/*Estilo del <sup> signo dolar $*/
.plan-info-container .plan-card--price sup
{
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: 25px;
  padding-right: 5px;
}

/*Botón "Escoger este*/
.plan-card--ca
{
  /*Alto*/
  height: 48px;
  /*Ancho*/
  width: 150px;
  /*Margen para separarlo del texto*/
  margin-top: 20px;
  /*Bordes redondeados*/
  border-radius: 4px;
  /*Texto en negrita*/
  font-weight: bold;
  /*Cursor para que sepan que se puede dar clic*/
  cursor: pointer;
  /*Tamaño de fuente*/
  font-size: 1.4rem;
  /*Interlineado*/
  line-height: 1.8rem;
  /*Color de texto*/
  color:var(--warm2-color);
  /*Fuente*/
  font-family: 'DM Sans',sans-serif;
}
/*Plan básico botón*/
.basico-button
{
  border-color: var(--basic-plan-color);
}
/*Plan anual botón*/
.anual-button
{
  border-color: var(--primary-color);
}
/*Plan semestral botón*/
.semestral-button
{
  border-color:var(--semestral-plan-color);
}

/*Estilo del ícono del botón*/
.plan-card--ca span
{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  /*Esto me sirve para centrar el ícono con el texto*/
  vertical-align: text-bottom;
}

/*Plan básico flecha*/
.plan-card--ca .basico-span
{
  background-image:url('./assets/icons/basic-right-arrow.svg');
}
/*Plan anual flecha*/
.plan-card--ca .anual-span
{
  background-image:url('./assets/icons/recommended-right-arrow.svg');
}
/*Plan semestral flecha*/
.plan-card--ca .semestral-span
{
  background-image:url('./assets/icons/semestral-right-arrow.svg');
}

/*Estilo contenedor para el scroll horizontal*/
.plans-container--slider, .main-tables-slider{
  display: flex;
  /**/
  height: 316px;
  max-width: 100%;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main-tables-slider{
  height: 410px;
  align-content: center;
  margin-right: 15px;
  margin-left: 10px;
}


/*Estilos para cambiar la barra de scroll*/
.plans-container--slider::-webkit-scrollbar, .main-tables-slider::-webkit-scrollbar {
  background-color: var(--primary-color-soft);
  height: 4px;
}
.plans-container--slider::-webkit-scrollbar-thumb, .main-tables-slider::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

/*------------------------------------ESTILOS FOOTER----------------------------------*/
/*En este estilo separamos las redes sociales del logo*/
footer
{
  display: flex;
  width: 100%;
  height:150px;
  background-color:var(--primary-color);
}

/*Mismos tamaños para ambos section*/
footer section
{
  display: flex;
  width:50%;
  justify-content: center;
  align-items: center;
}

/*Estilos para que las redes sociales salgan alineados*/
.unorganized-media
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Le quitamos el punto decorativo de las <ul>*/
.unorganized-media li
{
  list-style: none;
}

/*Ajustamos tamaño de las redes sociales*/
.unorganized-media img
{
  width: 35px;
  height: 35px;
  margin: 4px;
}

.batata-footer
{
  width: 100px;
  height: 100px;
}