/*Colores base para el proyecto*/
:root
{
    --background-color: #c7c7c7;
    --text-input:#f7f7f7;
    --hospital-green:#acd9b2;
    --white-color:#ffffff;
    --black-color:#000000;
}

/*Seteando los valores de diseño por defecto*/
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*Ajustando la letra para trabajar comodamente con REM*/
html
{
    font-size: 62.5%;
}

/*Estableciendo el tipo de letra a usar durante todo el proyecto*/
body
{
    font-family: 'Quicksand', sans-serif;
}