/*Variables base para el proyecto*/
:root
{
    --background-color: #a0a0a0;
    --text-input:#e9e9e9;
    --hospital-green1:#4083db;
    --hospital-green2:#356cb4;
    --white-color:#ffffff;
    --black-color:#000000;
    --sm: 16px;
    --md: 19px;
    --lg: 22px;
}

/*Tipo de letra de todo el proyecto*/
body
{
    font-family: 'Quicksand', sans-serif;
}

/*Seteo los valores por defecto de estilo del navegador*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo del contenedor padre*/
.login {
    /*Dimensiones totales*/
    width: 100%;
    height: 100vh;
    /*Uso de GRID*/ 
    display: grid;
    /*Esto me centra en X y en Y*/
    place-items: center;
  }

/*Estilo al contenedor texto y logo*/
.form-container
{
    /*Uso del GRID*/
    display: grid;
    /*Título y subtitulo auto, es decir, que tome el tamaño que desee*/
    grid-template-rows: auto 1fr auto;
    /*Un ancho de 300px*/
    width: 300px;
    /*Alinea el logo del email*/
    justify-items: center;
}

/*Estilo del logo*/
.logo
{
  /*Aumentamos el tamaño del logo*/
  width: 150px;
  /*Le ponemos margen para hacer una separación entre él y el título*/
  margin-bottom: 50px;
  /*Centramos en la GRID que tenemos el logo */
  justify-self: center;
  /*Esto lo ponemos para que NO APAREZCA EN DESKTOP*/
  display:none;
}

/*Estilo del título h1*/
.title
{
  /*Ajustamos el tamaño de letra*/
  font-size: var(--lg);
  /*Separamos el texto del subtítulo */
  margin-bottom:12px;
  /*Centramos el texto*/
  text-align: center;
}

/*Estilo del subtítulo p*/
.subtitle
{
  /*Ajustamos el tamaño de letra*/
  font-size: var(--md);
  /*Establecemos el color del texto*/
  color: var(--background-color);
  /*Centramos el texto*/
  text-align: center;
  /*Cambiamos la negrita del texto*/
  font-weight: 300;
  /*Evitamos el cruce con el márgen del párrafo por defecto*/
  margin-top: 0;
  /*Separamos del formulario el párrafo*/
  margin-bottom: 32px;
}


/*Estilizamos el botón*/
.primary-button
{
  /*Establecemos el color del botón*/
  background-color: var(--hospital-green1);
  /*Le damos unos bordes de 8px*/
  border-radius: 8px;
  /*Quitamos los border por defecto*/
  border:none;
  /*Establecemos el color del texto*/
  color:var(--white-color);
  /*Establecemos el ancho del botón para que ocupe el 100% en X*/
  width:100%;
  /*Nos ayuda para que al momento de pasar el cursor por encima, la flecha cambie
  y pase a ser uma manita, de forma que sepamos que es un elemento para dar clic*/
  cursor: pointer;
  /*Establecemos el tamaño de funte del texto*/
  font-size: var(--md);
  /*Le damos una negrita al texto*/
  font-weight: bold;
  /*Ponemos más alto el botón, es decir, "engrosarlo" en Y*/
  height: 50px;
}

.primary-button:hover
{
  background-color: var(--hospital-green2)
}


.email-image
{
  width:132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.email-image img
{
  width:80px;
}

.resend
{
  font-size: var(--sm);
  text-align: center;
  margin-top: 28px;
}

.resend span
{
  color:var(--background-color);
}

.resend a
{
  color:var(--hospital-green1);
  text-decoration: none;
}


/*Hacemos un media query para poder aparecer el logo en mobile.
Hacemos uso de max-width porque los estilos de arriba funcionarán 
para todas las medidas que sean después de esta que vamos a establecer.
Si la pantalla es menor de 640px aparecerá el logo, de lo contrario desaparecerá*/
@media (max-width: 640px)
{
  .logo
  {
    display: block;
  }
}
